.cards {
    align-items: center;
    background-color: var(--grey-background);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}
.cards__item {
    background-color: var(--write-principal);
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 1.9rem;
    
}
.card__header {
    align-items: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: var(--black-principal);
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
}
.card__header___button{
    background-color: var(--principal-blue);
    color:var(--write-principal);
    border-radius: 40px;
    font-size:0.7rem;
    font-weight: 600;
    padding:0.4rem 1.3rem;

}
.card__header-active {
    background-color: var(--card-header-yellow);
    color: var(--principal-blue);
}
.card {
    list-style-type: none;
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__data {
    margin-bottom: 1.7rem;
    color: var(--grey-list);
    font-weight: 400;
}

.card__data:nth-child(2) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--grey-divider);
}

.card__data:nth-child(3) {
    display: flex;
    align-items: center;
}

.card__data:nth-child(4) {
    display: flex;
    margin-bottom: 30%;
    align-items: center;
}

.card__price-integer {
    color: var(--black-principal);
    font-weight: 700;
    font-size: 2rem;
}

.card__button {
    border: solid 1px var(--principal-blue);
    border-radius: 10px;
    padding: .4rem 1.5rem;
    display: flex;
    justify-content: center;
    color: var(--principal-blue);
}
.card__button:hover{
    background: #1D539E;
    color: var(--write-principal);
}
.card__button-link {
    text-transform: uppercase;
    text-decoration: none;
    color:inherit;
    font-size: 1.1rem;
    text-align: center;
}

/* MOBILE - CELLPHONE */
/* 343PX ATÉ 768PX */

@media(min-width:343px){
    .cards__item{
        max-width: 352px;
        width: 90%;
        margin: 2rem;
    }
}

/* MOBILE - TABLET */
/* 768PX ATÉ 1024PX */

@media(min-width:768px){
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }
    .cards__item {
        width: 40%;
        margin-top: 2rem;
    }
    .card__data:nth-child(4){
        margin-bottom: 30%;
    }
}

/* DESKTOP */
/* ACIMA DE 1024PX */
@media(min-width:1024px){
    .cards{
        flex-wrap: nowrap;
        padding: 0 2rem;
    }
    .cards__item{
        width: 32%;
        margin: 0 ;
    }
    .card__data:nth-child(4){
        margin-bottom: 40%;
    }
}
/* @media(min-width:1240px){
    .cards{
        padding: 0 6rem;
    }
    .cards__item{
        
    }
} */