.header {
    text-align: center;
    color: var(--write-principal);
    background-color: var(--principal-blue);
    padding: 0.5rem;
}

.header__title {
    font-size: 1.8rem;
    margin-bottom: .6rem;
}

.header__description {
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
    padding: .2rem;
}

/* 768PX ATÉ 1024PX */
@media (min-width:768px){
    .header{
        height: 20vh;
    }
    .header__title{
        font-size: 2.8rem;
        padding-top: 1.5rem;
    }
    .header__description{
        font-size: 1.2rem;
        width: 62%;
    }
}