.header {
    text-align: center;
    color: var(--write-principal);
    background-color: var(--principal-blue);
    padding: 0.5rem;
}

.header__title {
    font-size: 1.8rem;
    margin-bottom: .6rem;
}

.header__description {
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
    padding: .2rem;
}