/* GENERAL */

body {
    background: var(--grey-background);
    font-family: var(--openSans);
    height: 100vh;
    font-size: 16px;
}
@media(min-width:1024px){
    body{
        max-width: 1142px;
        margin: 0 auto;
        height: 100vh;
    }
    
}