body {
    height: 100Vh;
    background-color: #E5E5E5;
}

.header {
    background: #1D539E;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__container {
    color: #ffffff;
    width: 29%;
    margin-top: 5em;
}

.header__container___title {
    font-size: 48px;
    font-weight: 700;
}

.header__container__description {
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    padding: 0 1em;
}

.cards {
    /* border: solid 1px red; */
    width: 53%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.card {
    width: 32.5%;
    height: 440px;
    /* border: solid 1px yellow; */
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box;
    background: #ffffff;
}

.card__header {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 1em 1.2em 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: 600;
    align-items: center;
}

.card__ativo {
    background: #FFCC29;
    color: #1D539E;
}

.card__title {
    padding-left: 1.6em;
}

.header__button {
    background: rgba(29, 83, 158, 1);
    color: #ffffff;
    border-radius: 40px;
    text-decoration: none;
    padding: 8px 24px;
}

.card__price {
    padding: 0.6em 0 0.2em .8em;
    font-size: 36px;
    font-weight: 700;
}

.price__integer {
    /* padding-left: 0.8em; */
}

.price__decimal {
    font-size: 18px;
    margin-left: -10px;
}

.price__month {
    color: rgba(130, 135, 153, 1);
    font-size: 18px;
    font-weight: 400;
}

.card__description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(130, 135, 153, 1);
    border-bottom: 1px solid #EEEEEE;
    margin: 0 2em;
}

.card__description___text {
    padding: 0 0 .4em 0;
}

.card__body {
    display: flex;
    flex-direction: column;
    padding: 0 1.6em 0 1.6em;
    height: 180px;
}

.card__list {
    list-style: none;
    margin-bottom: 5em;
}

.card__list___item {
    font-size: 14px;
    color: rgba(130, 135, 153, 1);
    font-weight: 600;
    padding-bottom: 1.3em;
}

.card__button {
    color: #1D539E;
    background: #ffffff;
    border: 1px solid #1D539E;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: center;
}

.card__button___active {
    background: #1D539E;
    color: #ffffff;
}

@media (min-width: 393px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1400px) {}